.mainDiv {
  min-height: 100%;
  background-color: #767676;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}

.mainHeading {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
}

.drinkCard {
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 2rem;
}
